/*
* @Author: zmx-xiao-xiao
* @Date:   2017-10-20 02:01:51
* @Last Modified by:   zmx-xiao-xiao
* @Last Modified time: 2017-10-20 02:02:07
*/
.footer{
    margin-top: 20px;
    padding-bottom: 10px;
}
.footer .links{
    text-align: center;
    color: #666;
    line-height: 30px;
}
.footer .links .link{
    padding: 0 10px;
}
.footer .copyright{
    text-align: center;
    color: #666;
    line-height: 30px;
}