/*
* @Author: zmx-xiao-xiao
* @Date:   2017-10-20 01:55:35
* @Last Modified by:   zmx-xiao-xiao
* @Last Modified time: 2017-10-20 01:56:01
*/
.nav-simple{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #ddd;
    background: #fff;
}
.nav-simple .logo{
    font-size: 26px;
    font-weight: bold;
    color: #c60023;
    text-decoration: none;
}